{
  "root": true,
  "env": {
    "node": true,
    "browser": true,
    "es6": true,
    "jest/globals": true
  },
  "plugins": ["testing-library", "jest"],
  "parser": "@typescript-eslint/parser",
  "extends": [
    "next/core-web-vitals",
    "airbnb",
    "airbnb-typescript",
    "plugin:import/typescript"
  ],
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "rules": {
    "no-param-reassign": ["error", { "props": true, "ignorePropertyModificationsFor": ["state", "res"] }],
    "react/react-in-jsx-scope": 0,
    "react/jsx-props-no-spreading": ["error", {"exceptions": ["AuthComponent", "Component"]}],
    "comma-dangle": 0,
    "radix": 0,
    "max-len": [
      2,
      {
        "code": 120,
        "ignorePattern": "^import"
      }
    ],
    "jsx-a11y/label-has-for": 0
  },
  "overrides": [
    // Only uses Testing Library lint rules in test files
    {
      "files": [
        "**/__tests__/**/*.[jt]s?(x)",
        "**/?(*.)+(spec|test).[jt]s?(x)"
      ],
      "extends": ["plugin:testing-library/react"]
    },
    {
      "files": ["**/*.ts", "**/*.tsx"],
      "extends": [
        "airbnb-typescript",
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended",
        "plugin:@typescript-eslint/recommended-requiring-type-checking"
      ]
    }
  ]
}
